$color-primary: hsl(207, 90%, 77%);
$color-secondary: hsl(187, 72%, 71%);

$color-100: hsl(208, 18%, 18%);
$color-200: hsl(206, 18%, 18%);
$color-300: hsl(206, 16%, 17%);
$color-400: hsl(208, 16%, 15%);
$color-500: hsl(207, 15%, 15%);
$color-600: hsl(204, 15%, 13%);
$color-700: hsl(202, 12%, 13%);
$color-800: hsl(206, 11%, 12%);
$color-900: hsl(210, 11%, 11%);

$color-secondary-100: hsl(187, 19%, 17%);
$color-secondary-200: hsl(184, 19%, 16%);
$color-secondary-300: hsl(184, 19%, 16%);
$color-secondary-400: hsl(189, 17%, 15%);
$color-secondary-500: hsl(190, 17%, 14%);
$color-secondary-600: hsl(187, 14%, 13%);
$color-secondary-700: hsl(188, 13%, 12%);
$color-secondary-800: hsl(189, 12%, 12%);
$color-secondary-900: hsl(190, 12%, 10%);

$color-notification-info-100: hsl(207, 89%, 86%);
$color-notification-info-400: hsl(199, 92%, 56%);
$color-notification-info-600: hsl(200, 97%, 45%);

$color-notification-success-100: hsl(175, 41%, 79%);
$color-notification-success-400: hsl(174, 63%, 40%);
$color-notification-success-600: hsl(174, 100%, 27%);

$color-notification-error-100: hsl(14, 100%, 87%);
$color-notification-error-400: hsl(10, 57%, 61%);
$color-notification-error-600: hsl(14, 91%, 54%);

$color-txt-100: hsl(0, 0%, 89%);
$color-txt-300: hsl(0, 0%, 65%);
$color-txt-500: hsl(0, 0%, 45%);

$color-disabled-fill: hsl(0, 0%, 22%);
$color-disabled-content: hsl(0, 0%, 45%);

$color-disable-fill: hsl(0, 0%, 45%);
$color-disable-txt-or-border: hsl(0, 0%, 45%);

$color-error: hsl(349, 43%, 55%);

$color-admin: hsl(45, 100%, 58%);

$font-size-100: 1rem;
$font-size-150: 1.2rem;
$font-size-200: 1.4rem;
$font-size-250: 1.6rem;
$font-size-300: 2rem;
$font-size-350: 2.4rem;
$font-size-400: 3.2rem;
$font-size-500: 3.6rem;
$font-size-600: 4rem;
$font-size-700: 4.8rem;
$font-size-800: 6.4rem;
$font-size-900: 9.6rem;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: normal;
$font-weight-medium: 500;
$font-weight-bold: bold;
$font-weight-extra-bold: 800;
$font-weight-black: 850;
$font-weight-extra-black: 900;

$border-radius: 3px;
